/* background-color: transparent !important; */
/* background-color: #151617 - 1E90FF !important; */
/* 1E90FF */
/* background-image: url(../img/myHomePic.png); */
/* id="nav-logo" */

@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body { height: 100%; max-width: 2000px; margin: auto; }
html,h1,h2,h3,h4,h5,h6,a { font-family: "Raleway"; }

/* ================ NAVBAR ================ */
/* grey 343a40 */
.navbar { background-color: #000000 !important; border-color: transparent;
  background-image: none; box-shadow: none; border-bottom: 0px solid #54b5d1; }
.navbar-icon { font-size: 100%; display: inline-block !important; }
.navbar-nav > li { margin-left: 10px; margin-right: 10px; }
.navbar-nav i { color: #4ABDAC; }
.nav-link , .navbar-brand { color: #000000; cursor: pointer;}
.nav-link { margin-right: 1em !important;}
.nav-link:hover { background: #000000; color: #000000; }
.navbar-toggler {  background:#000000 !important;}
/* .bg-dark { background-color:#343a40 !important }
.bg-primary { background-color:#007bff !important } */
#nav-logo { height: 35px; }
.navbar-collapse { justify-content: flex-end; }
/*@media (min-width: 768px) { .navbar-brand.abs { position: absolute; width: 100%; left: 0; text-align: center; } }*/
.navbar-nav .nav-link { color: #4ABDAC; }

.dropdown:hover .dropdown-menu {
   display: block;
}

/* ================ HERO ================ */
/*
background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../images/hero1.jpg);
background-image: url(../images/hero1.jpg);
*/

/* .myHero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../images/hero0.jpg);
  background-color: #4B0082; background-size: cover; background-repeat: none;
  background-position: center center; color: #fff; background-attachment: scroll; padding-top: 50px; padding: 10% 5%;
}
.myHero h1 { font-size: 100px; margin-right: 10px; margin-left: auto; }
.break{ background-color: rgba(0, 0, 0, 0.2); }
.myHero p { font-size: 110%; color: blue; } */

/* use "background-attachment: scroll;" if you need hero-picture to be fixed wrt header */
.myHero {
 background-image: url('../images/home/hero.jpg'); /* , linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%) */
 background-attachment: fixed; background-size: cover; background-position: center;
}
.overlay{ position: relative; min-height: 100%; min-width: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.65); }

.description{ position: relative; top: 10%; margin: auto; padding: 50px; }
.description h2{ color:#FC4A1A; font-size: 35px; padding-right: 20px; border-right: 2px solid #FC4A1A; }
.description h4{ color:#FC4A1A; font-size: 25px; padding-left: 20px; border-left: 2px solid #FC4A1A; }
.description h6{ font-size: 20px; padding-top: 20px; }
.description p{ color:#DFDCE3; font-size: 20px; }

.description .heroTitle { padding: 20px; padding-right: 50px; padding-left: 10px; }
.description .heroQuotes { padding: 20px; padding-right: 10px; padding-left: 50px; }

/* .description button { padding: 10px 10px; border-radius: 10px; } */
/* background: #DFDCE3; color: #FC4A1A; */
#lmbtn { display: flex; align-items: center; justify-content: center; padding-left: 400px; padding-right: 400px; }
#lmbtn .btn { padding: 15px 15px; border-radius: 10px; margin: auto; }
/* .description img{ margin-left: auto; margin-right: auto; display: block; height: auto; width: auto; max-height: 400px; } */
.description img{ margin-left: auto; margin-right: auto; display: block; height: auto; width: auto; max-width: 100%; max-height: 400px; }

@media only screen and (max-width: 500px) {
.description { padding: 0px 0px; padding-top: 70px; }
/* .description img{ height: auto; width: auto; max-width: 400px;
max-height: 400px; display: block; margin-left: auto; margin-right: auto; padding: 0px; } */
.description .col-lg-6 { padding-bottom: 50px; }
.description .heroTitle { padding-right: 10px; padding-left: 10px; }
.description .heroQuotes { padding-right: 10px; padding-left: 10px; }
#lmbtn { padding-left: 50px; padding-right: 50px; }
}

/* ================ LATEST POSTS ================ */
.lastPosts { background-color: #DFDCE3 !important; padding-bottom: 50px; } /* DFDCE3,  4ce6ff, 666 */
.lastPosts .row { margin: auto; padding: 20px; padding-top: 20px; max-width: 1200px; }
.lastPosts p{ color:#535353; font-size: 20px; }
.lastPosts h2, .lastPosts h3{ color:#1A0315; }
.lastPosts h4{ color: #535353; }
@media only screen and (max-width: 500px) {
.lastPosts { padding: 0px 0px; } }


/* ================ WHY? WHAT DRIVES ME ================ */
.drives { background-color: #DFDCE3 !important; } /* DFDCE3,  4ce6ff, 666 */
.drives .row { margin: auto; padding: 20px; max-width: 1400px; }
.drives .item { padding-top: 30px; }
.drives img{ height: auto; width: auto; max-width: 150px; max-height: 60px; display: block; margin-left: auto;
  margin-right: auto; }
.drives p{ color:#535353; font-size: 20px; }
.drives h2, .drives h3{ color:#1A0315; }
.drives h4{ color: #535353; }
@media only screen and (max-width: 500px) {
.drives { padding: 0px 0px; } }

/* ================ WHAT: WEBSITE TOPCIS ================ */
.what .wordCloud img { height: auto; width: auto; max-width: 400px; max-height: 400px; display: block; margin-left: auto;
  margin-right: auto; }
.what { background-color: #414141 !important; color: #fff; }
.what .row { margin: auto; padding: 20px; max-width: 1400px; }
.what p{ color:#DFDCE3; font-size: 20px; }
.what h2, .what h3{ color:#F7B733; }
.what h4{ color:#DFDCE3; }
.landing-wrap .landing-content { display: flex; align-items: center; justify-content: center; flex-flow: column; }
.landing-image img { max-width: 100%; border-radius: 15px; }
.landing-text p{ font-size: 20px; }
.landing-wrap .landing-content .landing-image, .landing-text { flex: 1; }
.landing-wrap .landing-text { max-width: 800px; text-align: left; padding-top: 50px; }
/* .landing-image { max-width: 500px; margin: 10px 0 50px 20px; transform: perspective(1200px) rotateZ(10deg) rotateX(10deg) rotateY(-30deg); } */
.landing-image { max-width: 600px; }

@media only screen and (min-width: 930px) {
.landing-wrap { padding: 30px 0px; }
.landing-wrap .landing-content { flex-flow: row; }
.landing-wrap:nth-child(odd) .landing-text { text-align: right; }
.landing-wrap:nth-child(even) .landing-text { order: 2; text-align: left; padding-left: 50px;}
/* .landing-wrap:nth-child(even) .landing-image { max-width: 540px; margin: 10px 0 50px 20px;
transform: perspective(1200px) rotateZ(-10deg) rotateX(10deg) rotateY(30deg); } */
/* .landing-wrap:nth-child(even) .landing-image { max-width: 540px; margin: 0px 0 50px 20px; } */
.landing-image { max-width: 400px; }
.what .wordCloud img { max-width: 800px; max-height: 800px;}
}
/* @media only screen and (min-width: 500px) {
.landing-wrap  { position: relative; box-sizing: border-box;
  width: 100%; max-width: 1200px; padding: 30px 0px; }} */
/* @media only screen and (min-width: 500px) {
.landing-wrap  { position: relative; box-sizing: border-box;
  width: 100%; max-width: 1200px; margin: 0 auto; padding: 30px 20px; }} */

/* ======================== ABOUT ============== */
.aboutHead { background-image: url('../images/about/about.jpg'); background-attachment: fixed;
background-size: cover; background-position: center; }
.aboutHead .overlay{ position: relative; min-height: 100%; min-width: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.75); }
.aboutHead .descr { position: relative; padding-top: 200px; padding-bottom: 50px; min-height: 400px; }
.aboutHead .descr h1{ color:#4ABDAC; font-size: 50px; }
.aboutHead .descr h3{ color:#4ABDAC; font-size: 25px; }
.aboutHead .row { margin: auto; max-width: 1200px; }
.aboutHead .row h3{ color:#FC4A1A; font-size: 30px; }
.aboutHead .row p{ color:#DFDCE3; font-size: 18px; }

.about .row { margin: auto; padding: 20px; padding-top: 50px; max-width: 1400px; }
@media only screen and (max-width: 500px) {
.about .row { padding: 5px; }
}
.about.twg { background-color: #414141 !important; }
.about.twg .row h3{ color:#F7B733; font-size: 30px; }
.about.twg .row p{ color:#DFDCE3; font-size: 18px; }

@media only screen and (max-width: 500px) {
.about.twg .desc { padding-top: 40px; }
}

.about.me { background-color: #DFDCE3 !important; }
.about.me .row h3{ color:#1A0315; font-size: 30px; }
.about.me .row p{ color:#535353; font-size: 18px; }
.about.me .self-portrait { width: 200px; height: 200px; position: relative; overflow: hidden;
  border-radius: 50%; margin: auto; margin-top: 10px; border: 0px solid blue; }
.about.me .self-portrait img { display: inline; margin: 0px 40px auto; height: auto; width: 80%; }

.about.me .interest h5{ color:#1A0315; }
.about.me kbd {background-color: #1A0315; color: #4ABDAC; border-radius: 8px; } /* F7B733 */
.about.me a { color:#F7B733; font-size: 16px; }

@media only screen and (max-width: 500px) {
.about.me .row { padding: 0px; }
.about.me .desc { padding-top: 40px; }
.about.me .interest { padding: 0px; }
}

.about.skill { background-color: #414141 !important; }
.about.skill .row h3{ color:#F7B733; font-size: 30px; }
.about.skill .row p{ color:#828081; font-size: 18px; padding: 0px;}
.about.skill img{ height: auto; width: auto; max-width: 150px; max-height: 40px; display: block; margin-left: auto; margin-right: auto; }

.about.pub-talk { background-color: #414141 !important; }
.about.pub-talk .row h3{ color:#F7B733; font-size: 30px; }
.about.pub-talk .row p{ color:#DFDCE3; font-size: 18px; }
.about .list-group-item { background-color: #414141 !important; }
.about.pub-talk small { color:#DFDCE3; }
.about.pub-talk a { color:#F7B733; }


/* .about h1{ color:#FC4A1A; margin: 1em; border-bottom: 2px solid #10828C; }
.about img{ width: 100%; border-radius: 5% }
.about span{ display: block; color: #888; position: relative; left: 115px; }
.about .desc{ padding: 2em; }
.about .desc h3{ color: #10828C; }
.about .desc p{ line-height:2; color:#888; } */

/* .about { margin: auto; padding: 3em; position: relative; background-color: #DFDCE3ff !important;}
.about h1{ color:#FC4A1A; margin: 1em; border-bottom: 2px solid #10828C; }
.about img{ width: 100%; border-radius: 5% }
.about span{ display: block; color: #888; position: relative; left: 115px; }
.about .desc{ padding: 2em; }
.about .desc h3{ color: #10828C; }
.about .desc p{ line-height:2; color:#888; } */

.timeline { position: relative; padding: 0; list-style: none; }
.timeline:before { content: ""; position: absolute; top: 0; bottom: 0;
  left: 20px; width: 2px; margin-left: -1.5px; background-color: #f1f1f1; }
.timeline>li { position: relative; margin-bottom: 50px; min-height: 50px; }
.timeline>li:before,
.timeline>li:after { content: " "; display: table; }
.timeline>li:after {clear: both;}
.timeline>li .timeline-panel { float: right; position: relative; width: 100%; padding: 0 1px 0 90px; text-align: left; }
.timeline>li .timeline-panel:before { right: auto; left: 15px; border-right-width: 15px; border-left-width: 0; }
.timeline>li .timeline-panel:after { right: auto; left: -14px; border-right-width: 14px; border-left-width: 0; }
.timeline>li .timeline-image { z-index: 100; position: absolute; left: 0; width: 40px; height: 40px; margin-left: 0;
  border: 1px solid #f1f1f1; border-radius: 50%; text-align: center; color: #fff; background-color: #fff; overflow: hidden;}
/* .timeline>li .timeline-panel h4 { margin-top: 12px; font-size: 10px; line-height: 14px; } */
.timeline>li.timeline-inverted>.timeline-panel { float: right; padding: 0 20px 0 100px; text-align: left; }
.timeline>li.timeline-inverted>.timeline-panel:before { right: auto; left: -15px; border-right-width: 15px; border-left-width: 0; }
.timeline>li.timeline-inverted>.timeline-panel:after { right: auto; left: -14px; border-right-width: 14px; border-left-width: 0; }
.timeline>li:last-child { margin-bottom: 0; }
.timeline .timeline-heading h4 { margin-top: 0; color: inherit; }
.timeline .timeline-heading h4.subheading { text-transform: none; }
.timeline .timeline-body>p,
.timeline .timeline-body>ul { margin-bottom: 0; }
.timeline-image img{ display: inline; margin: 0 auto; margin-left: 0%; margin-top: 10%; width: auto; height: 80%; }
.timeline .card img{ width: 100%; padding: 5px; margin: auto; display: block; height: auto; width: auto; max-height: 70px; }
.timeline>li .timeline-panel h4 { margin-top: 16px; font-size: 18px; line-height: 18px; color: #FC4A1A;}
.timeline>li .timeline-panel h5 { margin-top: 16px; font-size: 16px; line-height: 16px; color: #6E7376;}

@media(min-width:768px) {
  .timeline:before { left: 50%; }
  .timeline>li { margin-bottom: 5px; min-height: 100px; }
  .timeline>li .timeline-panel { float: left; width: 41%; padding: 0 1px; text-align: right; }
  .timeline>li .timeline-image { left: 50%; width: 60px; height: 60px; margin-left: -30px; }
  .timeline>li .timeline-panel h4 { margin-top: 16px; font-size: 18px; line-height: 18px; color: #FC4A1A;}
  .timeline>li .timeline-panel h5 { margin-top: 16px; font-size: 16px; line-height: 16px; color: #6E7376;}
  .timeline>li.timeline-inverted>.timeline-panel { float: right; padding: 0 1px; text-align: left; }
  .timeline .card img{ max-height: 100px; }
}
@media(min-width:992px) {
  .timeline>li { min-height: 150px; }
  .timeline>li .timeline-panel { padding: 0 1px; }
  .timeline>li .timeline-image { width: 60px; height: 60px; margin-left: -30px; }
  .timeline>li .timeline-panel h4 { margin-top: 30px; font-size: 18px; line-height: 26px; color: #FC4A1A;}
  .timeline>li.timeline-inverted>.timeline-panel { padding: 0 1px; }
}
@media(min-width:1200px) {
  .timeline>li { min-height: 170px; }
  .timeline>li .timeline-panel { padding: 1px; }
  .timeline>li .timeline-image { width: 60px; height: 60px; margin-left: -30px; }
  .timeline>li .timeline-panel h4 { margin-top: 0px; font-size: 22px; color: #FC4A1A; }
  .timeline>li .timeline-panel h5 { margin-top: 0px; font-size: 18px; color: #6E7376;}
  .timeline>li .timeline-inverted>.timeline-panel { padding: 0 1px; }
}
.timeline .card-body{ padding: 0.5em; }


/* ======================== BLOG ============== */
.blogHead { background-image: url('../images/blog/blog1.jpg'); background-attachment: fixed;
background-size: cover; background-position: center; }
.blogHead .overlay{ position: relative; min-height: 100%; min-width: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); }
.blogHead .descr { position: relative; padding-top: 250px; padding-bottom: 50px; min-height: 550px; }
.blogHead .descr h1{ color:#4ABDAC; font-size: 50px; }
.blogHead .descr h3{ color:#4ABDAC; font-size: 25px; }

.blog { background-color: #4ABDAC; padding: 50px 0px; }
.blog .cardbox { padding: 25px; }
.blog .card{ box-shadow: 0 0 20px #ccc; border-radius: 15px; }
.blog .card img{ width: 100%; padding: 5px; margin: auto; display: block; height: auto; width: auto;
  max-height: 250px; border-bottom: 0px solid #FC4A1A; border-radius: 15px; }
.blog .card-title a { color:#4ABDAC; font-size: 28px; }
.blog .card-body { padding: 1em; padding-top: 0px; border-top: 0px solid #FC4A1A; }
.blog h6 { color: #6E7376; font-size: 18px; }
/* .blog kbd {background-color: #4ABDAC; color: #DFDCE3; border-radius: 6px; } */
.blog kbd {background-color: #1A0315; color: #4ABDAC; border-radius: 8px; font-size: 14px; }
/* F7B733 */

@media only screen and (max-width: 500px) {
.blogHead .descr { padding: 0px 0px; padding-top: 100px; min-height: 300px; margin-bottom: 0px; padding-bottom: 0px; }
.blog { padding: 0px 0px; margin-top: 0px; padding-top: 0px; }
.blogHead .descr {border-bottom: 1px solid black; }
}

/* ======================== TAGS ============== */
.tagHead { background-image: url('../images/blog/blog1.jpg'); background-attachment: fixed;
background-size: cover; background-position: center; }
.tagHead .overlay{ position: relative; min-height: 100%; min-width: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); }
.tagHead .descr { position: relative; padding-top: 200px; padding-bottom: 50px; min-height: 300px; }
.tagHead .descr h1{ color:#FC4A1A; font-size: 50px; }

/* ======================== POST ============== */
.postHead { background-color: #535353; position: relative; margin: 0 auto; background-size: cover; }
.postHead .overlay{ position: relative; min-height: 100%; min-width: 100%; background-color: #535353; }
.postHead .descr { position: relative; padding-top: 50px; padding-bottom: 20px; min-height: 600px;
  margin-left: auto; margin-right: auto; max-width: 1400px; display: block; }
.postHead .card { background-color: #535353; border: 0px; }
.postHead h1{ color:#DFDCE3; font-size: 30; }
.postHead h6{ color:#DFDCE3; font-size: 22; }
.postHead p{ color:#666; font-size: 18px; width: 100%; line-height: 1.5; }
.postHead img{ margin: auto; display: block; max-width: 800px; width: auto; height: auto; }
.postHead kbd {background-color: #1A0315; color: #4ABDAC; border-radius: 8px; }

.postContent { background-color: #DFDCE3 !important; } /* 4ce6ff, 666 */
/* .postContent .row { margin: auto; padding: 0px; max-width: 1800px; } */
.postContent { padding-top: 50px; }
.blogPost a{ color: #FC4A1A; font-size: 18px; }

.pgNav { background-color: #DFDCE3; position: relative; padding-top: 20px; padding-bottom: 20px; }
.pgNav { display: flex; flex-direction: row; align-items: center; justify-content: center; }
.pgNav p, a { color: #4ABDAC; font-size: 18px; }

@media only screen and (max-width: 500px) {
.postContent .row { padding: 0px 0px; }
.postHead img{ max-width: 350px; }
.pgNav { padding-left: 0px; padding-right: 0px; }
}

/* .blogHead div { border:1px solid red; }
.blog div { border:1px solid blue; } */


/* scroll bar */
/* The progress container (grey background) */
.progress-container { width: 100%; height: 2px; background: #ccc; }
/* The progress bar (scroll indicator) */
.progress-bar { height: 2px; background: #FC4A1A; width: 0%; } /* 4caf50, 3eb0ef */
.progress-container {position:absolute;bottom:0;left:0;display:block;width:100%;height:4px;background-color:transparent}
.progress-bar {display:block;width:50%;height:inherit;background-color:#FC4A1A}

/* sidebar */
nav[data-toggle='toc'] { top: 100px; }
/* #toc li {padding: 0px; margin-right: 0px; }
#toc a {font-size: 16px; } */

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] { margin-bottom: 42px; position: static; }
  nav[data-toggle='toc'] .nav .active .nav { display: none; } /* don't expand nested items, which pushes down the rest of the page when navigating */
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /* nav[data-toggle='toc'] .nav .nav { display: block; } */
}

/* ======================== FOOTER ============== */
.pgFoot { background-color: #0A1612; border-top: 6px solid #4ABDAC !important; padding-top: 10px; }
.pgFoot .icons { display: flex; flex-direction: row; align-items: center; justify-content: center; }
.pgFoot .icons a { padding-left: 20px; padding-right: 20px; }
.pgFoot p, a {font-size: 14px; color: #EAE3EA; }

/* ======================== return to top button ============== */
.back-to-top { cursor: pointer; position: fixed; bottom: 15px; right: 15px; display:none; color: rgb(0, 0, 0); }
.back-to-top i { color: #fff; margin: 0; position: relative; font-size: 25px; }

/* ======================== POST ============== */
.blogPost img { width: 100%; }
.blogPost code.hljs { border-radius: 15px; padding: 15px; }

/* [src*="#thumbnail"] */

/* ======================== Anchor tag link ============== */
:target:before {
content: "";
display: block;
height: 90px; /* fixed header height*/
margin: -90px 0 0; /* negative fixed header height */
}

/* ======================== RESUME ============== */
.resume { background-image: url('../images/about/resume.jpg'); background-attachment: fixed;
background-size: cover; background-position: center; }
.resume .overlay{ position: relative; min-height: 100%; min-width: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); }
.resume .descr { position: relative; padding-top: 250px; padding-bottom: 50px; min-height: 550px; }
.resume .descr h1{ color:#4ABDAC; font-size: 45px; }


/* div { border:1px solid red; } */

/* ======================== end ============== */




















.locGlob { color: #fff; background-color: #4B0082; /*rgba(242, 242, 242, 1);*/ }
.homeSketch { height: 400px; border: dashed blue 1px; }
.homeSketch img { max-height: 100%; max-width: 100%; }

/*navigation bar icons*/

/*.navbar-icon { font-size: 125%; display: inline-block !important;}

/*coloured borders at top and bottom of the page*/
/*.navbar.navbar-default { border-top: var(--border-width) solid var(--accent);}
